<li class="question_<%= question.status %>" id="<%= dom_id(question, dom_id_prefix) if local_assigns[:dom_id_prefix].present? %>">
  <%= question.category.titleize %> &gt; <strong><%= link_to question.title, question_path(question), data: { turbo_frame: "_top" } %></strong><br>
  <span class="submitted">Submitted on <%= question.created_at.strftime("%d %B %Y at %H:%M") %></span><br>
  <strong><%= question.status.titleize %></strong>
  <% if current_user_question?(question) && question.answers_pending? %> — <%= pluralize(question.pending_answers_count, "answer") %> awaiting approval<% end %>
  <br>

  <span class="actions">
    <%= button_to "View",
                  question_path(question),
                  method: :get,
                  data: { turbo_frame: "_top" } %>
    <% if current_user_question?(question) && question.open? %>
      <%= button_to "Close",
        close_question_path(question),
        method: :patch,
        data: { turbo_confirm: "Are you sure?" } %>

      <%= button_to "Delete",
                    question_path(question),
                    method: :delete,
                    data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
  </span>
</li>
