<h1>Legal Advice Q&A Board</h1>

<p>
  Ask legal questions and receive paid advice from verified lawyers.
</p>

<p>
  <%= link_to "Submit a legal question", new_question_path %>
</p>

<h2>Your questions</h2>

<%= turbo_frame_tag "my_questions" do %>
  <% if @my_questions.any? %>
    <ul>
      <% @my_questions.each do |question| %>
        <%= render "question", question: question, dom_id_prefix: :my %>
      <% end %>
    </ul>
  <% else %>
    <p>You have not submitted any questions yet.</p>
  <% end %>
<% end %>

<h2>Recent questions</h2>

<%= turbo_frame_tag "recent_questions" do %>
  <%= render "questions/recent_questions", recent_questions: @recent_questions, dom_id_prefix: :recent %>
<% end %>
