<h1>Submit a legal question</h1>

<%= form_with model: @question do |form| %>
  <% if @question.errors.any? %>
    <div>
      <h2><%= pluralize(@question.errors.count, "error") %> prevented this question from being saved:</h2>

      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :category %><br>
    <%= form.select :category, Question::CATEGORIES.map { |c| [c.humanize, c] }.unshift(['Select a category', '']) %>
  </div>

  <div>
    <%= form.label :body, "Question" %><br>
    <%= form.text_area :body, rows: 8 %>
  </div>

  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>